/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}



/*--------------------------------------------------------------
# Informações acima da Navbar
--------------------------------------------------------------*/
#topbar {
  padding: 0;
  font-size: 15px;
  height: 50px;
  transition: all 0.5s;
  background: rgba(26, 24, 22, 0.8);
  z-index: 996;
  color: rgba(255, 255, 255, 0.7);
}

#topbar.topbar-transparent {
  background: transparent;
}

#topbar.topbar-scrolled {
  top: -50px;
}

#topbar i {
  color: #3bc1ff;
  line-height: 0;
}

#topbar i span {
  color: #fff;
  font-style: normal;
  padding-left: 5px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header2 {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: rgba(26, 24, 22, 0.85);
}

#header2.header2-transparent {
  background: transparent;
}

#header2.header2-scrolled {
  top: 0;
  background: rgba(26, 24, 22, 0.85);
}

#header2 .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header2 .logo h1 a, #header2 .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header2 .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
  
}

#logo{
  margin-top: -6px !important;
  
}

#logo-cadastrar{
  height: 28px;
  margin-top: -6px !important;height: 120px;
  padding-top: 10px;
}

#text-logo-cadastrar {
  margin-right: 30px;
  font-size: 20px;
  
}


/*--------------------------------------------------------------
# Login button Menu
--------------------------------------------------------------*/
.login-btn {
  background: #3bc1ff;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  white-space: nowrap;
}

#login-icone{  
color: #f3f8fa;
 font-size: 25px;
 padding-left: 10px;
 padding-right: 10px; 
}

#login-carrinho{  
  color: #f3f8fa;
   font-size: 25px;
   padding-left: 30px;
   padding-right: 10px; 
  }

.login-btn:hover {
  background: #3bc1ff;
  color: #fff;
}

@media (max-width: 992px) {
  .login-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
    letter-spacing: 1px;
  }
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar2 {
  padding: 0;
}

#lupa-navbar2{
  font-size: 20px;
  color:#f5f5f5;
  margin-left: -50px;
  color: #020202;
  justify-content: center;
  align-items: center;
}

.navbar2 ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar2 li {
  position: relative;
}

.navbar2 a, .navbar2 a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 24px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar2 a i, .navbar2 a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar2 a:hover, .navbar2 .active, .navbar2 .active:focus, .navbar2 li:hover , .navbar2 i:hover > a {
  color: #3bc1ff;
}

.navbar2 .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar2 .dropdown ul li {
  min-width: 200px;
}

.navbar2 .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #433f39;
}

.navbar2 .dropdown ul a i {
  font-size: 12px;
}

.navbar2 .dropdown ul a:hover, .navbar2 .dropdown ul .active:hover, .navbar2 i:hover , .navbar2 .dropdown ul li:hover > a {
  color: #3bc1ff;
}

.navbar2 .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar2 .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar2 .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar2 .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar2 .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

#menulogado{
  background-color: rgba(0, 0, 0, 0.589);
  
}
#menulogado a{
  color: rgba(238, 228, 228, 0.589)
  
}
#menulogado .dropdown-item:hover{
  background-color: #0b5b80;
  
}

#menulogado strong{
  color: #eaeff1;
  margin-right: 10px;
}
#menulogado a:hover{
 color: white;
  
}
#menulogado strong i{
  color: #e9edf1;
}

#login-carrinho:hover{
color: #3bc1ff;
}

#login-icone:hover{
color: #3bc1ff;
}

#cardshoes:hover{
  background-color: #d6d1d13a;
  
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(39, 37, 34, 0.9);
  transition: 0.3s;
  z-index: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #433f39;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #3bc1ff;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #3bc1ff;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Caroseul Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h2 span {
  color: #3bc1ff;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-menu, #hero .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 0 10px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  color: #fff;
  border: 2px solid #3bc1ff;
}

#hero .btn-menu:hover, #hero .btn-book:hover {
  background: #3bc1ff;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}



/*--------------------------------------------------------------
# Histórico
--------------------------------------------------------------*/
#img-historico{
  height: 100px;
  width: 100px;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title2 {
  text-align: center;
  padding-bottom: 30px;
}

.section-title2 h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title2 h2 span {
  color: #3bc1ff;
}

.section-title2 p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .section-title2 p {
    width: 50%;
  }
}



/*--------------------------------------------------------------
# Cadastrar Cliente
--------------------------------------------------------------*/
#comb-form{
  padding-bottom: 10px; 
  font-style: italic; 
  color: rgb(83, 85, 85);
}

.cliente-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

.cliente-form .form-group {
  padding-bottom: 8px;
}

.cliente-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.cliente-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.cliente-form .error-message br + br {
  margin-top: 25px;
}

.cliente-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.cliente-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.cliente-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.cliente-form input, .book-a-table .cliente-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.cliente-form input {
  height: 44px;
}

.cliente-form textarea {
  padding: 10px 12px;
}




/*--------------------------------------------------------------
# cliente
--------------------------------------------------------------*/
.cliente .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;  
  color: #3bc1ff;
 
}



.cliente .info {
  background: #fff;
}

.cliente .info i {
  font-size: 20px;
  color: #3bc1ff;
  float: left;
  width: 44px;
  height: 44px;
  background: #0ed1fd18;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.cliente .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #433f39;
  font-family: "Poppins", sans-serif; 
}

.cliente .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #7a7368;
  font-style: oblique;
}

.cliente .info:hover i {
  background: #0e5ef1fa;
  color: #fff;
}

.cliente .cliente-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

.cliente .cliente-form .form-group {
  padding-bottom: 8px;
}

.cliente .cliente-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.cliente .cliente-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.cliente .cliente-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.cliente .cliente-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.cliente .cliente-form input, .cliente .cliente-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.cliente .cliente-form input {
  height: 44px;
}

.cliente .cliente-form textarea {
  padding: 10px 12px;
}

.cliente .cliente-form button[type="submit"] {
  background: #3bc1ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.cliente .cliente-form button[type="submit"]:hover {
  background: #3bc1ff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


