@model RaellShoes.Models.ViewModel.DashViewModel

@{ ViewData["Title"] = "Dash Admin";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>RaellShoes - Admin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/antigo/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</head>

<body >

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="/administrador">RaellShoes<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown  active">
                    <a href="#"><span>Parâmetros</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/administrador/GruposPrecificacao">Grupo de Precificação</a></li>
                        <li><a href="/administrador/Fornecedores">Fornecedor</a></li>
                        <li><a href="/administrador/Categorias">Categoria</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/administrador/Cupons">Cupons</a></li>
                <li><a class="nav-link scrollto" href="/administrador/Trocas">Trocas</a></li>
                <li><a class="nav-link scrollto" href="/administrador/Pedidos">Pedidos</a></li>
                <li><a class="nav-link scrollto" href="/administrador/Clientes">Clientes</a></li>
                <li><a class="nav-link scrollto" href="/administrador/Produtos">Produtos</a></li>
                <li><a class="nav-link scrollto" href="/">Sair</a></li>
                <li><a class="nav-link scrollto" href=""></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->


    </header><!-- End Header -->


    <section id="cliente" class="cliente">
        <div class="container mt-5">
            <div class="row">
                <div class="section-title2">
                    <h2><span style="color: rgb(0, 3, 15);">HOME - DASH</span></h2>
                </div>

            </div>
            <br><br>
            <!--Box Dados Pedido-->
            <form asp-action="GerarGrafico">
                <div class="info-wrap" style=" border-radius:20px">

                    <div class="row">
                        <div class="col col-lg-6 col-md-6 form-group mt-3 mt-md-0">
                            <h5> <strong style="color: rgb(64, 174, 202)"> Selecione as categorias</strong></h5><br>
                        </div>
                        <div class="col col-lg-6 col-md-6 form-group mt-3 mt-md-0">
                            <h5> <strong style="color: rgb(64, 174, 202)"> Selecione o período</strong></h5><br>
                        </div>
                    </div>

                    <div class="row" style="color: black;  font-style: italic;">


                        <div class="col col-lg-3 col-md-6 form-group mt-3 mt-md-0">
                            <div class="form-check form-switch">
                                <span>Basquete</span>
                                <input asp-for="Basquete" type="checkbox" class="form-check-input" id="basquete">
                            </div>
                            <div class="form-check form-switch">
                                <span>Treino</span>
                                <input asp-for="Treino" type="checkbox" class="form-check-input" id="treino">
                            </div>
                            <div class="form-check form-switch">
                                <span>Casual</span>
                                <input asp-for="Casual" type="checkbox" class="form-check-input" id="casual">
                            </div>

                            <div class="form-check form-switch">
                                <span>Social</span>
                                <input asp-for="Social" type="checkbox" class="form-check-input" id="social">
                            </div>
                        </div>

                        <div class="col col-lg-3 col-md-6 form-group mt-3 mt-md-0">
                            <div class="form-check form-switch">
                                <span>Skateboarding</span>
                                <input asp-for="Skateboarding" type="checkbox" class="form-check-input" id="skateboarding">
                            </div>
                            <div class="form-check form-switch">
                                <span>Corrida</span>
                                <input asp-for="Corrida" type="checkbox" class="form-check-input" id="corrida">
                            </div>
                            <div class="form-check form-switch">
                                <span>Outro</span>
                                <input asp-for="Outro" type="checkbox" class="form-check-input" id="outro">
                            </div>
                        </div>

                        <div class="col col-lg-6 col-md-6 form-group mt-3 mt-md-0">


                            <div class="row">

                                <div class="col-lg-6 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                    <span>Data inicial</span>
                                    <input asp-for="DataInicio" class="form-control" id="data-pedido" type="date" placeholder="Data Início" required>

                                </div>
                                <div class="col-lg-6 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                    <span>Data Final</span>
                                    <input asp-for="DataFinal" class="form-control" id="data-pedido" type="date" placeholder="Data Final" required>

                                </div>

                            </div>
                        </div>

                    </div>
                    <br>  <br>

                    <div class="row">
                        <div class="col-lg-12 col-md-6 form-group mt-3 mt-md-0" id="comb-form">

                            <button class="col-lg-12 btn btn-dark " style="color: white; margin-top: 23px">Gerar Gráfico </button><br>

                        </div>
                    </div>




                </div>
            </form>
            <br><br>

            @if (Model.MostrarGrafico)
            {
                <div class="info-wrap" style=" border-radius:20px" id="grafico">

                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <div id="chart_div" style="width: 100%; height: 500px;"></div>

                </div>

            }

    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <header id="header" class="d-flex align-items-center" style="margin-top: 200px;">
        </header>
        <div class="footer-top" style="margin-top: -90px;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>RaellShoes<span>.</span></h3>
                        <p>
                            Avenida Paulista, 9999 <br>
                            São Paulo, SP 15370-496<br>
                            Brasil <br><br>
                            <strong>Telefone:</strong> 11 989462969<br>
                            <strong>Email:</strong> raellcurvelo@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Links Úteis</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contato</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Uso</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Navegue</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Masculino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Feminino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Infantil</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Lançamentos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Outlet</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Redes Sociais</h4>
                        <p>Nos siga em nossas redes socias para conhecer um pouco mais sobre a RaellShoes</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>RaellShoes</span></strong>. Todos os direitos reservados.
            </div>
            <div class="credits">
                Desenvolvido por <a href="https://www.linkedin.com/in/israel-curvelo-0a9686173/">Israel Curvelo</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>



    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()


                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>


    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
 
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive-main/src/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        //google.charts.load('current', { 'packages': ['corechart'] });
        //google.charts.setOnLoadCallback(drawChart);
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(CarregaDados);

        function CarregaDados() {
           
        $.ajax({
            url: '@Url.Action("JsonGrafico","Administrador")',
            dataType: "json",
            type: "GET",
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function(data) {
                GraficoVendas(data);
                return false;
            }
        });
        return false;
        }

        function GraficoVendas(data) {
            var dataArray = [
                ['Data', 'Casual', 'Corrida', 'Treino', 'Skate', 'Basquete', 'Social', 'Outro', 'Esporte']
            ];
            $.each(data, function (i, item) {
                dataArray.push([ item.data, item.casual, item.corrida, item.treino, item.skate, item.basquete, item.social, item.outro, item.esporte]);
            });
            var data = google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: 'Vendas por Categoria',
                chartArea: {
                    width: '80%'
                },
                colors: ['green', '#ffab91', 'orange', 'blue', 'gray', 'yellow', 'purple', 'red'],
                hAxis: {
                    title: 'Data do pedido',
                    minValue: 0
                },
                vAxis: {
                    title: 'Valor Total'
                }
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            return false;
        }

        //function drawChart() {
        //    var data = google.visualization.arrayToDataTable([
        //        ['Período', "Casual", 'Esporte', 'Skate'],
        //        ['Janeiro-2022', 1000, 400, 600],
        //        ['Fevereiro-2022', 1170, 460, 900],
        //        ['Março-2022', 660, 1120, 1300],
        //        ['Abril-2022', 1030, 666, 897],
        //        ['Maio-2022', 899, 876, 600],
        //        ['Junho-2022', 677, 999, 567],
        //        ['Julho-2022', 999, 99, 66],
        //        ['Agosto-2022', 130, 540, 66]


        //    ]);

        //    var options = {
        //        title: 'Vendas por um período agrupadas por Categorias',
        //        hAxis: { title: 'Mês-Ano', titleTextStyle: { color: '#333' } },
        //        vAxis: { minValue: 0 }
        //    };

        //    var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        //    chart.draw(data, options);
        //}
    </script>



</body>

</html>