<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>RaellShoes - Ranking e Vales</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/antigo/css/style.css" rel="stylesheet">

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="/clientes">RaellShoes<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <nav id="navbar" class="navbar">

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="/clientes">Início</a></li>
                        <li><a class="nav-link scrollto" href="/clientes/procurarproduto">Pesquisar um Produto</a></li>
                        <li><a class="nav-link scrollto" href="">Sobre Nós</a></li>
                        <li><a class="nav-link scrollto" href="">Contato</a></li>
                        <li><a class="nav-link scrollto" href="">Perguntas Frequentes</a></li>
                        <li><a class="nav-link scrollto" href="/clientes/carrinho">Carrinho</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Meu Perfil</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="/clientes/meuperfil">Meu Perfil</a></li>
                                <li><a href="/clientes/meusenderecos">Meus Endereços</a></li>
                                <li><a href="/clientes/meuscartoes">Meus Cartões</a></li>
                                <li><a href="/clientes/meuspedidos">Meus Pedidos</a></li>
                                <li><a href="/clientes/troca">Troca e Devoluções</a></li>
                                <li><a href="/clientes/rankingcupons">Ranking e Cupons</a></li>
                                <li><a href="/clientes/alterarsenha">Alterar Senha</a></li>
                                <li><a href="/">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    <section id="cliente" class="cliente">
        <div class="container" style="padding-top: 40px; margin-bottom: -30px;">
            <div class="section-title2">
                <h2>Ranking e <span style="color: rgb(13, 236, 181);">Cupons </span></h2>
            </div>
        </div>

        <!--RANKING-->
        <div class="container mt-5">
            <!--Box Ranking-->
            <div class="info-wrap" style=" border-radius:20px">
                <div class="row">
                    <div class="col-lg-3 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                        <i class="bi bi-star-fill" style="color: yellow; font-size: 20px;"></i><span> Posição no ranking </span>
                        <input disabled type="textarea" name="posicao-ranking" readonly class="form-control-plaintext" id="posicao-ranking" value="92" style="color: rgb(9, 41, 59); font-weight: bold;margin-left: 30%;">
                    </div>

                    <div class="col-lg-3 col-md-2 form-group mt-3 mt-md-0" id="comb-form">
                        <i class="bi bi-bag-fill" style="color: rgb(13, 236, 181); font-size: 20px;"></i><span> Compras efetuadas </span>
                        <input disabled type="textarea" name="compras-efetuadas" readonly class="form-control-plaintext" id="compras-efetuadas" value="3" style="color: rgb(9, 41, 59); font-weight: bold; margin-left: 30%;">
                        <br>
                    </div>

                    <div class="col-lg-3 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                        <i class="bi bi-calendar3" style="color: rgb(13, 236, 181); font-size: 20px;"></i><span> Data de cadastro</span>
                        <input disabled type="text" name="data-solicitacao" readonly class="form-control-plaintext" id="data-solicitacao" value="17/12/2021" style="color: rgb(9, 41, 59); font-weight: bold; margin-left: 10%;">
                    </div>

                    <div class="col-lg-3 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                        <i class="bi bi-arrow-left-right" style="color: rgb(13, 236, 181); font-size: 20px;"></i><span> Trocas Efetuadas</span>
                        <input disabled type="text" name="tipo-reembolso" readonly class="form-control-plaintext" id="tipo-reembolso" value="1" style="color: rgb(9, 41, 59); font-weight: bold; margin-left: 20%;">
                    </div>

                </div>
            </div>
        </div>

        <!--CUPOM DE TROCA-->
        <div class="container mt-5">
            <!--Box Cupom de troca-->
            <div class="info-wrap" style=" border-radius:20px">
                <h5><strong style="  color: rgb(13, 236, 181);">Cupons de Troca </strong></h5><br>

                <div class="row">
                    <div class="col-lg-12 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                        <table class="table table-hover col-lg-10">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Motivo</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Troca de Produto</td>
                                    <td>UGDUFTFDTYD8767567JU</td>
                                    <td>R$ 249,99</td>
                                    <td>AGUARDANDO</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Saldo Utilização de Cupom</td>
                                    <td>YDCTDRYFYFYT6564D45S</td>
                                    <td>R$ 48,75</td>
                                    <td>LIBERADO</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Troca de Produto</td>
                                    <td>734FYTDDSTS445SDE66</td>
                                    <td>R$ 49,99</td>
                                    <td>USADO</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <!--CUPOM PROMOCIONAL-->
        <div class="container mt-5">
            <!--Box Cupom Promocional-->
            <div class="info-wrap" style=" border-radius:20px">
                <h5><strong style="  color: rgb(13, 236, 181);">Cupons Promocionais </strong></h5><br>
                <div class="row">

                    <div class="col-lg-12 col-md-2 form-group mt-3 mt-md-0" id="comb-form" readonly>
                        <table class="table table-hover col-lg-10">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Frete Grátis (Até R$ 20,00)</td>
                                    <td>FRETE20</td>
                                    <td>R$ 20,00</td>
                                    <td>LIBERADO</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>50 Reais em compras acima de R$ 1000,00</td>
                                    <td>BUY100050OFF</td>
                                    <td>R$ 50,00</td>
                                    <td>LIBERADO</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>5% OFF NIKE (Produtos Nike até R$999,99)</td>
                                    <td>NIKE5OFF</td>
                                    <td>---</td>
                                    <td>LIBERADO</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>INDIQUE E GANHE 5%</td>
                                    <td>SHAREFRIENDS5OFF</td>
                                    <td>---</td>
                                    <td>USADO</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Novo Usuário (10% OFF)</td>
                                    <td>NEWUSER10</td>
                                    <td>---</td>
                                    <td>USADO</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <header id="header" class="d-flex align-items-center" style="margin-top: 200px;">
        </header>
        <div class="footer-top" style="margin-top: -90px;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>RaellShoes<span>.</span></h3>
                        <p>
                            Avenida Paulista, 9999 <br>
                            São Paulo, SP 15370-496<br>
                            Brasil <br><br>
                            <strong>Telefone:</strong> 11 989462969<br>
                            <strong>Email:</strong> raellcurvelo@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Links Úteis</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contato</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Uso</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Navegue</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Masculino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Feminino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Infantil</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Lançamentos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Outlet</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Redes Sociais</h4>
                        <p>Nos siga em nossas redes socias para conhecer um pouco mais sobre a RaellShoes</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>RaellShoes</span></strong>. Todos os direitos reservados.
            </div>
            <div class="credits">
                Desenvolvido por <a href="https://www.linkedin.com/in/israel-curvelo-0a9686173/">Israel Curvelo</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()


                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>


    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>