@{ ViewData["Title"] = "Detalhes do Produto"; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>RaellShoes - Detalhes Produto</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">raellcurvelo@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>11 989462969</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="">RaellShoes<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->



        </div>
    </header><!-- End Header -->

    <main id="main" data-aos="fade-up">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Detalhes do Produto</h2>

                </div>

            </div>
        </section><!-- Breadcrumbs Section -->
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-6">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide">
                                    <img src="~/assets/img/Produtos/Adidas/Tênis Adidas Grand Court Base Masculino/Tenis_Grand_Court_Branco_F36483_01_standard.jpg" alt="" style="height: 550px;width: 720px;" class="img-fluid" class="img-fluid">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/Produtos/Adidas/Tênis Adidas Grand Court Base Masculino/Tenis_Grand_Court_Branco_F36483_02_standard_hover.jpg" alt="" style="height: 550px;width: 720px;" class="img-fluid">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/Produtos/Adidas/Tênis Adidas Grand Court Base Masculino/Tenis_Grand_Court_Branco_F36483_04_standard.jpg" alt="" style="height: 550px;width: 720px;" class="img-fluid">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/Produtos/Adidas/Tênis Adidas Grand Court Base Masculino/Tenis_Grand_Court_Branco_F36483_05_standard.jpg" alt="" style="height: 550px;width: 720px;" class="img-fluid">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/Produtos/Adidas/Tênis Adidas Grand Court Base Masculino/Tenis_Grand_Court_Branco_F36483_06_standard.jpg" alt="" style="height: 550px;width: 720px;" class="img-fluid">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/Produtos/Adidas/Tênis Adidas Grand Court Base Masculino/Tenis_Grand_Court_Branco_F36483_09_standard.jpg" alt="" style="height: 550px;width: 720px;" class="img-fluid">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/Produtos/Adidas/Tênis Adidas Grand Court Base Masculino/Tenis_Grand_Court_Branco_F36483_41_detail.jpg" alt="" style="height: 550px;width: 720px;" class="img-fluid">
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/Produtos/Adidas/Tênis Adidas Grand Court Base Masculino/Tenis_Grand_Court_Branco_F36483_42_detail.jpg" alt="" style="height: 550px;width: 720px;" class="img-fluid">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="portfolio-info">
                            <h3> TÊNIS ADIDAS GRAND COURT MASCULINO</h3>
                            <ul>
                                <li><strong>Categoria</strong>: Esportivo / Casual</li>
                                <li><strong>Marca</strong>: Adidas</li>
                                <li><strong>Data de Lançamento</strong>: 20 de Janeiro de 2022</li>
                                <li><strong>URL Fabricante</strong>: <a href="https://www.adidas.com.br/tenis-grand-court/F36483.html">https://www.adidas.com.br/tenis-grand-court/F36483.html</a></li>
                            </ul>
                            <br>
                            <h6>Cores e Tamanhos disponíveis</h6>

                            <div class="row">
                                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0" id="comb-form">
                                    <span>Cores</span>
                                    <select  name="cor-disponivel" class="form-select" required style="font-size: small">
                                        <option></option>
                                        <option value="1">Branco/Preto</option>
                                        <option value="2">Branco/Azul</option>
                                        <option value="3">Preto/Branco</option>
                                        <option value="4">Branco</option>
                                        <option value="5">Preto</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0" id="div-tamanho-troca">
                                    <span style="color: black;">Tamanho</span>
                                    <select  class="form-select" id="tamanho"  style="font-size:small">
                                        <option></option>
                                        <option value="1">34</option>
                                        <option value="2">35</option>
                                        <option value="3">36</option>
                                        <option value="4">37</option>
                                        <option value="5">38</option>
                                        <option value="6">39</option>
                                        <option value="7">40</option>
                                        <option value="8">41</option>
                                        <option value="9">42</option>
                                        <option value="10">43</option>
                                        <option value="11">44</option>
                                        <option value="12">45</option>
                                        <option value="12">46</option>

                                    </select>
                                </div>

                            </div><br><br>

                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 style="color: red; font-weight: bold;"> R$ 249,99</h4>
                                    <p>ou até 12x de R$ 20,83</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="button" class="btn btn-success btn col-lg-5" style="border-radius:10px" value="Comprar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <input type="button" class="btn btn-warning btn col-lg-6" style="border-radius:10px" value="Adicionar ao carrinho" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                </div>
                            </div><p></p>
                        </div>



                        <div class="row" hidden>
                            <div class="col-lg-6">
                                <div class="portfolio-info">
                                    <h4 style="color: red; font-weight: bold;"> R$ 249,99</h4>
                                    <p>ou até 12x de R$ 20,83</p>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="portfolio-info">
                                    <input type="button" class="btn btn-success btn-sm col-lg-12" style="border-radius:10px" value="Comprar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <p></p>
                                    <input type="button" class="btn btn-warning btn-sm col-lg-12" style="border-radius:10px" value="Adicionar ao carrinho" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <br><br>
                <div class="portfolio-description" style="padding-left: 14px;">
                    <h2> TÊNIS GRAND COURT</h2>
                    <h5> TÊNIS SIMPLES COM O ESTILO CLÁSSICO</h5>
                    <p>
                        Um estilo dos anos 70 repaginado. Este tênis se inspira nos estilos esportivos icônicos do passado e os leva para o futuro. O tênis molda o look do dia a dia com um cabedal laminado. As icônicas Três Listras exibidas nas laterais. O amortecimento em plush na entressola oferece maior conforto em cada passo.
                    </p>
                </div>

                <div class="portfolio-description" style="padding-left: 14px;">

                    <h5> DE ONTEM PRA HOJE</h5>
                    <p>
                        Use as lições do passado para um futuro ainda melhor. Enriquecida com toda a história de design da adidas, produzida com materiais contemporâneos. Uma coleção atemporal de roupas e calçados, inspiradas no passado, feitas para o presente.
                    </p>
                </div>



                <div class="portfolio-description" style="padding-left: 14px;">

                    <h2> DETALHES</h2>
                    <ul>
                        <li>Forma normal</li>
                        <li>Fecho de cadarço</li>
                        <li>Cabedal de laminado sintético</li>
                        <li>Solado de borracha</li>
                        <li>Palmilha Cloudfoam Comfort</li>
                        <li>Toque macio</li>
                        <li>Cor do artigo: Cloud White / Core Black / Cloud White</li>
                        <li>Código do artigo: F36483</li>
                    </ul>
                </div>

            </div> </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Central de Assinaturas</h4>
                        <p>Se inscreva em nossa Central de Assinaturas para receber conteúdo promocionais e informativos</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Inscreva-se">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>RaellShoes<span>.</span></h3>
                        <p>
                            Avenida Paulista, 9999 <br>
                            São Paulo, SP 15370-496<br>
                            Brasil <br><br>
                            <strong>Telefone:</strong> 11 989462969<br>
                            <strong>Email:</strong> raellcurvelo@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Links Úteis</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contato</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Uso</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Navegue</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Masculino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Feminino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Infantil</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Lançamentos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Outlet</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Redes Sociais</h4>
                        <p>Nos siga em nossas redes socias para conhecer um pouco mais sobre a RaellShoes</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>RaellShoes</span></strong>. Todos os direitos reservados.
            </div>
            <div class="credits">
                Desenvolvido por <a href="https://www.linkedin.com/in/israel-curvelo-0a9686173/">Israel Curvelo</a>
            </div>
        </div>
    </footer><!-- End Footer -->


    <a href="https://api.whatsapp.com/send?phone=5511989462969&text=Dúvidas" target="_blank"
       style="position:fixed;bottom:20px;right:18px;">
        <svg enable-background="new 0 0 512 512" width="50" height="50" version="1.1" viewBox="0 0 512 512"
             xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        <path d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"
              fill="#4CAF50" />



        <path d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z"
              fill="#FAFAFA" />



 </svg>
    </a>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>