@{
    ViewData["Title"] = "FAQ";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>RaellShoes - FAQ</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">raellcurvelo@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>11 989462969</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="">RaellShoes<span>.</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
        </div>
    </header><!-- End Header -->

    <main id="main" data-aos="fade-up">

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>F.A.Q</h2>
                    <h3>Frequently Asked <span>Questions</span> (Perguntas Frequentes)</h3>
                    <p>Nesta página você tem acesso rápido à algumas perguntas frequentes para tirar dúvidas de assuntos tais como Pedidos, Trocas e Devoluções, Cupons e Vales e muito mais.</p>
                </div>

                <div class="row justify-content-center" style="padding-top: 110px;">
                    <div class="col-xl-10">
                        <ul class="faq-list">
                            <!--Pergunta-->
                            <li>
                                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Ainda não recebi meu pedido, o que fazer? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        Se você não recebeu sua compra, primeiro confirme a previsão de entrega em “Meus Pedidos”. É só acessar seu cadastro..
                                    </p><p>

                                        No rastreamento do pedido é possível consultar:
                                    </p><p>

                                        - Se a entrega foi realizada;
                                    </p><p>

                                        - Se o produto ficou disponível para retirada em alguma agência dos Correios;
                                    </p><p>

                                        - Se houve algum imprevisto e sua entrega foi adiada.
                                    </p><p>

                                        Você também pode consultar o status do seu pedido, enviando uma mensagem pelo nosso WhatsApp.
                                    </p><p>



                                        Nós fazemos até três tentativas de entrega em dias e horários diferentes. Converse com seus familiares, amigos e vizinhos para ver se alguém recebeu sua compra ou se recusou.
                                    </p>

                                </div>
                            </li><!--Fim da pergunta-->
                            <!--Pergunta-->
                            <li>
                                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Como trocar um produto? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        Você pode fazer a troca online em 3 passos. Confira:
                                    </p><p>

                                        1) Clique em “Meus Pedidos” e faça o login. Na lista, escolha o pedido e veja se ele já está disponível para troca, se estiver, é só escolher o produto e clicar em “Trocar produto”.
                                    </p><p>

                                        2) Escolha o motivo nas opções exibidas. É importante, para os casos de defeito, descrever com detalhes a falha encontrada.
                                    </p><p>

                                        3) Depois, é só finalizar e aguardar o e-mail enviado para o endereço cadastrado, com o código de postagem e outras orientações sobre o processo de troca.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Posso alterar o endereço de entrega?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        Após a conclusão do seu pedido, não é possível alterar o endereço de entrega. Para mais informações entre em contato com nossa Central de Relacionamento pelos canais disponíveis no rodapé ou chat do WhastsApp.
                                    </p><p>
                                        Agora se ainda não finalizou a compra, você pode atualizar o endereço de entrega ou incluir um novo na página "Meus endereços”.
                                    </p>
                                </div>
                            </li><!--Fim da Pergunta-->
                            <!--Pergunta-->
                            <li>
                                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Como trocar um produto? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        Você pode fazer a troca online em 3 passos. Confira:
                                    </p><p>

                                        1) Clique em “Meus Pedidos” e faça o login. Na lista, escolha o pedido e veja se ele já está disponível para troca, se estiver, é só escolher o produto e clicar em “Trocar produto”.
                                    </p><p>

                                        2) Escolha o motivo nas opções exibidas. É importante, para os casos de defeito, descrever com detalhes a falha encontrada.
                                    </p><p>

                                        3) Depois, é só finalizar e aguardar o e-mail enviado para o endereço cadastrado, com o código de postagem e outras orientações sobre o processo de troca.
                                    </p>
                                </div>
                            </li><!--Fim da Pergunta-->
                            <!--Pergunta-->
                            <li>
                                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Após solicitar a troca, em quanto tempo o vale-compra será liberado? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        Após a chegada do pedido em nosso estoque, o produto recebido passa por um processo de análise que ocorre em até 5 dias úteis e, caso seja aprovado, seu vale-compra é liberado.
                                    </p><p>

                                        Acompanhe a liberação do vale-compra com seu login, na página “Vales”.
                                    </p>
                                </div>
                            </li><!--Fim da Pergunta-->
                            <!--Pergunta-->
                            <li>
                                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Como embalar o produto para troca ou devolução?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        É só seguir estes passos:
                                    </p><p>

                                        <strong>Embalagem: </strong> Coloque o produto na embalagem original do avesso ou embrulhado com papel pardo. Se for frágil, proteja a embalagem original com papel ou caixa para evitar que seja danificado ou reutilize a caixa protetora enviada com o produto. Itens com notas fiscais diferentes precisam ser embalados separadamente.
                                    </p><p>

                                        <strong>Nota Fiscal: </strong>Não coloque a nota fiscal - DANFE (Documento Auxiliar da Nota Fiscal Eletrônica) dentro da caixa, você vai precisar apresentá-la. Se for trocar mais de um item, verifique se eles possuem DANFE diferentes. Se sim, precisam ser embalados separadamente. Se você não  tiver a Nota Fiscal, será necessário preencher o formulário de declaração de conteúdo. O modelo para impressão está disponível no site dos Correios, em http://www.correios.com.br/a-a-z/nota-fiscal.

                                    </p>
                                </div>
                            </li><!--Fim da Pergunta-->

                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->



    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Central de Assinaturas</h4>
                        <p>Se inscreva em nossa Central de Assinaturas para receber conteúdo promocionais e informativos</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Inscreva-se">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>RaellShoes<span>.</span></h3>
                        <p>
                            Avenida Paulista, 9999 <br>
                            São Paulo, SP 15370-496<br>
                            Brasil <br><br>
                            <strong>Telefone:</strong> 11 989462969<br>
                            <strong>Email:</strong> raellcurvelo@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Links Úteis</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre Nós</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contato</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Uso</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Navegue</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Masculino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Feminino</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Infantil</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Lançamentos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Outlet</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Redes Sociais</h4>
                        <p>Nos siga em nossas redes socias para conhecer um pouco mais sobre a RaellShoes</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>RaellShoes</span></strong>. Todos os direitos reservados.
            </div>
            <div class="credits">
                Desenvolvido por <a href="https://www.linkedin.com/in/israel-curvelo-0a9686173/">Israel Curvelo</a>
            </div>
        </div>
    </footer><!-- End Footer -->


    

</body>

</html>